{% extends "ext_base.html" %}
{% block data %}
<body style="background: linear-gradient(to right, rgba(17, 235, 159, 1), rgba(118, 75, 235, 1));">
<div class="container mt-5">
    <h2>All Uploaded Notes</h2>
    <div class="list-group">
        {% for note in notes %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ note.title }}</strong> ({{ note.subject }})
            </div>
            <a href="{{ note.pdf_file.url }}" class="btn btn-primary btn-sm" download>Download PDF</a>
        </div>
        {% empty %}
        <p>No notes found.</p>
        {% endfor %}
    </div><br>
<font>Other notes will be available as soon as possible &#128579</font>
</div>
{% endblock %}
